<%- include("./../_partials/header")%>

<h2 class="text-center">All Beers</h2>
<hr>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <hr>
    <% beers.forEach(function(beer) { %>
        <tr>
            <td> <%= beer.name %> </td>
        </tr>
        <% }); %>
</table>

<a href=/beers/new>Add New Beer</a>

<%- include("./../_partials/footer")%>